textarea {
    min-height: 400px;
}

.email-preview {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.timestamp {
    color: lightgray;
}

.sender {
    font-weight: bold;
}