{% extends "network/layout.html" %}

{% block body %}
    <div class="all-posts-body">
        <h2>All Posts</h2>
        <div class="new-post-block">
            <h5 class="bold-title">New Post</h5>
            <form method="post">
                {% csrf_token %}
                {{ form.content }}
                <button type="submit" class="fancy-button">Post</button>
            </form>
        </div>
        <div class="all-posts-container">
            {% for post in posts %}
                <div class="post-block">
                    <h2>{{ post.user }}</h2>
                    <p>{{ post.content }}</p>
                    <p>{{ post.timestamp }}</p>
                    <button class="like-button">🤍</button>
                    <p>{{ post.likes_count }}</p>
                    <p>Comment</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    ADD A SCRIPT SOURCE HERE

{% endblock %}