{% extends "network/layout.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block body %}
    <div id="master-container">
        <h2 id="title"></h2>
        <div class="new-post-block">
            <div id="new-post-container"></div>
            
        </div>
        <div id="posts-container"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var user_id = "{{ user.id }}"
        var username = "{{ user.username }}"
        var csrftoken = "{{ csrf_token }}"
    </script>
    <script src="{% static 'network/timeline.js' %}"></script>
{% endblock %}