
.bold-title {
    font-weight: bold
}

.fancy-button {
    color: white;
    background-color: #4e83b5;
    transition: background-color 0.3s

}

.fancy-button:hover {
    background-color: #7ebbf2;
}

.like-button {
    border: none;
    background: none;
    cursor: pointer;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.shrink {
    height: 0;
    transition: height 3s ease-out;
}