{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    {{ listing }} | Closed
{% endblock %}

{% block head %}
    <link href="{% static 'auctions/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

    <div class="img-frame" id="img-frame-big">
        <img src="/media/{{ listing.photo }}" alt="Image of {{ listing.title }}">
    </div>
    <div class="info-container">
        <p>{{ listing.description }}</p>
        <h1>Auction Closed</h1>
        <p>This listing was won by {{ winner }}</p>
    
    </div>
    <h3>Details:</h3>
    <ul>
        <li>Listed by: {{ poster }}</a></li>
        <li>Category: <a href="{% url 'categories' category=category %}">{{ category }}</a></li>
    </ul>

    <h3>Comments:</h3>
    {% for comment in comments %}
        <div>
            <hr>
            <p>"{{ comment.content }}"</p>
            <p>-{{ comment.user }}</p>
            <hr>
        </div>
    {% empty %}
        <p>Be the first to comment!</p>
    {% endfor %}
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <textarea placeholder="Comment:" name="comment"></textarea>
            <button type="submit" name="type" value="comment">Make Comment</button>
        </form>
    {% endif %}
{% endblock %}