{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Create Listing
{% endblock %}

{% block head %}
    <link href="{% static 'auctions/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <table class="form-container">
            {% for field in form %}
            <div class="field-container">
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                </tr>
            </div>
            {% endfor %}
        <tr>
            <td><button type="submit">Create Listing</button></td>
        </tr>
        </table>
    </form>
{% endblock %}