{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    {{ listing }}
{% endblock %}

{% block head %}
    <link href="{% static 'auctions/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

    <div>
        {% if watchlist %}
            <div id="watchlist"><span>Watchlist</span></div>
        {% endif %}
        <div class="img-frame" id="img-frame-big">
            <img src="/media/{{ listing.photo }}" alt="Image of {{ listing.title }}">
        </div>
        <div class="info-container">
            <p>{{ listing.description }}</p>
            <h4>${{ listing.price }}</h4>
        </div>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit">Add to Watchlist</button>
        </form>

    </div>

{% endblock %}